.content-page {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  display: flex;
  align-items: center;
}

.img-unavailable {
  width: 500px;
  height: 500px;
  margin-left: 25rem;
}
